#canvas-001 {
    position: fixed;
    top: 0px;
    left: 25%;
    height: 100%;
    width: 75%;
    overflow: scroll;
}
#controls {
    position: fixed;
    top: 50%;
    left: 0px;
    height: 50%;
    width: 25%;
    overflow: auto;
    background-color: black;
}
#others {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50%;
    width: 25%;
    overflow: auto;
    background-color: black;
}