.nav label {
  display: block;
  padding: 0.85rem;
  color: #fff;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.nav label:focus, .nav label:hover {
  background: #efefef;
}

.nav label { cursor: pointer; }

.sub-group-list label {
  padding: 0.85rem;
  color:#fff
}

.sub-group-list label:focus, .sub-group-list label:hover { background: #efefef; }
/*
.nav a, .nav label {
  display: block;
  padding: 0.85rem;
  color: #fff;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.nav a:focus, .nav a:hover, .nav label:focus, .nav label:hover {
  background: #ededed;
}

.nav label { cursor: pointer; }
*/
/**
 * Styling first level lists items
 */

 /**
.group-list a, .group-list label {
  padding-left: 0rem;
  background: #ffffff;
}

.group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover { background: #ededed; }
*/

/**
 * Styling second level list items
 */
/*
.sub-group-list a, .sub-group-list label {
  padding-left: 4rem;
  background: #353535;
}

.sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover { background: #232323; }
*/
/**
 * Styling third level list items
 */
/*
.sub-sub-group-list a, .sub-sub-group-list label {
  padding-left: 6rem;
  background: #454545;
  box-shadow: inset 0 -1px #575757;
}

.sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover { background: #333333; }
*/
/**
 * Hide nested lists
 */

.group-list, .sub-group-list, .sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out;
}

.nav__list input[type=checkbox]:checked + label + ul { /* reset the height when checkbox is checked */
max-height: 5000px; }

/**
 * Rotating chevron icon
 */

label > span {
  float: left;
  -webkit-transition: -webkit-transform .65s ease;
  transition: transform .65s ease;
}

.nav__list input[type=checkbox]:checked + label > span {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}